*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.wrapper {
	width: 100vw;
	height: 100vh;
	background: #1a2a6c; 
background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  
background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); 
}
.calc {
	display: grid;
	grid-template-rows: minmax(100px,auto) 1fr;
	row-gap: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-width: 500px;
	padding: 10px;
	background: #FC466B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}
.calc__screen {
	display: flex;
	align-items: center;
	justify-content: right;
	border: #1a2a6c solid 1px;
	font-size: 30px;
	padding: 5px;
	color: beige;
}
.calc__buttons {
	display: grid;
	grid-template: repeat(5,1fr)/repeat(4,1fr);
	row-gap: 15px;
	column-gap: 15px;
	
	
}
.calc__btn {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
	font-size: 30px;
	border-radius: 10px;
	transition: all 0.4ms linear;
	color: beige;
	background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
	border: #1a2a6c solid 1px;

}
.calc__btn:active{
	box-shadow: 0 0 15px inset aqua;

}